// Don't edit this file! In fact, don't edit any file ending in .scss
// All styling should be done with `styled-components`!

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './theme.scss';

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  margin: 0;

  background: $bg;
  color: $color;
}

#root {
  flex: 1;
  display: flex;
}

.app {
  flex: 1;
  padding: 20px;
}

.flex-fill {
  flex: 1;
}

.d-flex {
  display: flex;

  &.text-right {
    text-align: right;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.child-grow {
    > * {
      flex-grow: 1;
    }
  }

  &.child-fill {
    > * {
      flex: 1;
    }
  }
}
