@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$bg: white;
$color: #444444;

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  margin: 0;

  background: $bg;
  color: $color;
}

#root {
  flex: 1;
  display: flex;
}

@mixin transition {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidebar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @include transition();

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .top {
    padding: 20px 10px 20px 20px;

    span {
      font-size: 90%;
      margin-top: 5px;
      color: if(lightness($color) > 40, darken($color, 20%), lighten($color, 20%));
    }
  }

  padding-right: 10px;

  .sidebar-button {
    padding: 20px;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;

    &:after {
      border-bottom: 3px solid darken($bg, 10%);
      border-radius: 3px 3px 0 0;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      position: absolute;

      left: -4px;
      width: 75%;

      @include transition();
    }

    &.active {
      &:after {
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        height: 100%;
        width: 100%;
        border-bottom: 3px solid transparent;
        background: darken($bg, 10%);

        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
      }
    }
  }
}

.app {
  flex: 1;
  padding: 20px;
}

.flex-fill {
  flex: 1;
}

.d-flex {
  display: flex;

  &.text-right {
    text-align: right;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.child-grow {
    > * {
      flex-grow: 1;
    }
  }

  &.child-fill {
    > * {
      flex: 1;
    }
  }
}
