@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Any variables defined here will be available in all styled-components beacuse of a context provider!!
$bg: white;
$color: #444444;
$transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$accent: #74c8f2;

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  margin: 0;

  background: $bg;
  color: $color;
}

#root {
  flex: 1;
  display: flex;
}

.app {
  flex: 1;
  padding: 20px;
}

.flex-fill {
  flex: 1;
}

.d-flex {
  display: flex;

  &.text-right {
    text-align: right;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.child-grow {
    > * {
      flex-grow: 1;
    }
  }

  &.child-fill {
    > * {
      flex: 1;
    }
  }
}
