// Any variables defined here will be globally
// available in styled-components beacuse of
// a magic ContextProvider
// // // // // // // // // // // // // // // // //
// This means that if you want to add
// a variable in `styled-components`
// and you need that variable to reflect
// everywhere in the application, add that
// variable here, and use that variable
// throughout the application with
// styled-components

$dark-mode: true; // Change this to `true` to enable dark mode

@function bool($value: false) {
  @if $value == false or $value == '' or $value == 'false' or $value == 'false' or $value == 0 {
    @return false;
  }

  @return true;
}

$bg: #121212;
$color: #535353;
$muted: #333333;

@if bool($dark-mode) == false {
  $bg: white;
  $color: #444444;
  $muted: #919191;
}

$transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$accent: #74c8f2;
